<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyhotkey96.quanlysinhvien">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:showOnLockScreen="false"
            android:name=".MainActivity"
            android:label="Quản lý Sinh Viên">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HienThiDanhSachLop"
            android:label="Danh sách Lớp"></activity>
        <activity
            android:name=".SuaClass"
            android:label="Sửa Lớp"></activity>
        <activity android:name=".QuanLySinhVien"></activity>
    </application>

</manifest>